/* ==|== Boilerplate v1.0.0 =================================================
   Author: James South - MetaDigital
   ========================================================================== */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */
body {
    margin: 0;
    font-size: 1em;
    line-height: 1.4;
    color: #454545;
}

/*
 * Remove text-shadow in selection highlight: h5bp.com/i
 * These selection declarations have to be separate.
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    -webkit-text-shadow: none;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #c0c0c0;
    margin: 1em 0;
    padding: 0;
}

/*
 * 1. Remove the gap between images and the bottom of their containers: h5bp.com/i/440
 * 2. Make images responsive
 */
img {
    vertical-align: middle; /*1*/
    max-width: 100%; /*2*/
}

/* =============================================================================
   Chrome Frame Prompt
   ========================================================================== */

.chromeframe {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Headings
   ========================================================================== */
/*Extra classes to allow styling of elements to match headers*/
.h1 {
    font-size: 2em;
    margin: 0.67em 0;
}

.h2 {
    font-size: 1.5em;
    margin: 0.83em 0;
}

.h3 {
    font-size: 1.17em;
    margin: 1em 0;
}

.h4 {
    font-size: 1em;
    margin: 1.33em 0;
}

.h5 {
    font-size: 0.83em;
    margin: 1.67em 0;
}

.h6 {
    font-size: 0.75em;
    margin: 2.33em 0;
}

    h1 small, .h1 small,
    h2 small, .h2 small,
    h3 small, .h3 small,
    h4 small, .h4 small,
    h5 small, .h5 small,
    h6 small, .h6 small {
        color: #909090;
    }

.page-header {
    border-bottom: solid 1px #c0c0c0;
    padding-bottom: .83em;
}

.lead {
    font-size: 1.17em;
    font-weight: bold;
}

/* ==========================================================================
   Alerts
   ========================================================================== */

.alert {
    margin-bottom: 1em;
    padding: .5em 2.1em .5em .9em;
    background-color: #fcf8e3;
    border: 1px solid #f2e187;
    -moz-border-radius: 2px;
    -webkit-border-radius: 2px;
    border-radius: 2px;
    color: #9c8611;
    -webkit-text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    *zoom: 1;
}

    .alert:before, .alert:after {
        content: "";
        display: table;
    }

    .alert:after {
        clear: both;
    }

.alert-heading {
    color: inherit;
}

.alert .close {
    position: relative;
    top: -2px;
    right: -21px;
    line-height: 1em;
    float: right;
    font-size: 21px;
    font-weight: bold;
    color: inherit;
    *color:#777;
    text-decoration: none;
}

    .alert .close:hover {
        text-decoration: underline;
    }

.alert-success {
    background-color: #c5e6c5;
    border: 1px solid #a2d6a2;
    color: #347834;
}

.alert-warning {
    background-color: #fee7c7;
    border: 1px solid #fcd296;
    color: #c17305;
}

.alert-error {
    background-color: #f4cac8;
    border: 1px solid #eba19e;
    color: #da4f49;
}

.alert-info {
    background-color: #d9edf7;
    border: 1px solid #85c5e5;
    color: #247fad;
}

.alert-block {
    padding-top: .5em;
    padding-bottom: 1em;
}

    .alert-block .alert-heading {
        margin: 0.1875em 0;
        font-size: inherit;
        font-weight: bold;
    }

    .alert-block > p,
    .alert-block > ul {
        margin-bottom: 0;
    }

    .alert-block p + p {
        margin-top: .333333em;
    }

/*Icon helpers for fontawesome icons*/
.icon-l {
    padding-right: .5em;
}

.icon-r {
    padding-left: .5em;
}
