/* ==|== Overlay 1.0.0 ==========================================================
   Author: James South - MetaDigital
   ============================================================================== */

.ovrly {
    width: 100%;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
}

    .ovrly iframe {
        width: 100%;
        overflow-y: scroll;
    }

.ovrly-wrapper {
    position: absolute;
    top: 0;
}
