/* ==|== Docs Base v1.0.0 ===================================================
   Author: James South - MetaDigital
   Documentation specific styles.
   ========================================================================== */

body {
    font-family: "Segoe UI", "Segoe WP", "Helvetica Neue", "RobotoRegular", sans-serif;
    color: #454545;
    padding: 40px 0 0;
    background: #1D1D1D;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6,
.h1, .h2, .h3, .h4, .h5, .h6 {
    font-family: "Segoe UI Light", "Helvetica Neue", "RobotoLight", "Segoe UI", "Segoe WP", sans-serif;
    font-weight: 100;
    text-transform: lowercase;
}

h4, h5, h6, .h4, .h5, .h6 {
    font-weight: normal;
}

.page {
    background: #fff;
}

.page-footer {
    height: 129px;
    padding-top: 20px;
    border-top: 1px solid #1a1a1a;
    background: #1D1D1D;
    color: #fff;
}

    .page-footer a:not(.btn) {
        color: #c0c0c0;
    }

.header {
    background: url(img/bg.jpg) #020301 no-repeat;
    background-size: 100% 100%;
    color: #fff;
    overflow: hidden;
    padding-bottom: 32px;
    padding-top: 72px;
    text-shadow: 1px 1px 5px #000;
    border-bottom: 1px solid #020301;
}

/* headers */
.logo {
    font-size: 3em;
    margin-bottom: 0;
}

hr + section {
    padding-top: 1em;
}


/* Grid demo */
.demo-grid .row {
    text-align: center;
    background: #ebebeb;
    min-height: 32px;
    padding-top: 4px;
    padding-bottom: 4px;
}

.demo-grid [class*="clmn"] {
    background-color: #3876a7;
    color: #FFFFFF;
    border-radius: 3px;
    font-size: 1.5em;
    min-height: 32px;
    line-height: 1.2em;
    text-align: center;
    text-shadow: 0px -1px 0px #0C1342;
}

    .demo-grid [class*="clmn"] > .row {
        background-color: transparent;
    }

        .demo-grid [class*="clmn"] > .row > [class*="clmn"] {
            background-color: #434343;
            font-size: 1em;
        }

/* headings */
.headings-no-margin > * {
    margin: 0;
}

/*helpers*/
td.is-hidden {
    color: #ccc;
}

td.is-visible {
    color: #608a19;
}

.visibility-demo {
    overflow: hidden;
    clear: left;
}

    .visibility-demo li {
        position: relative;
        float: left;
        width: 32%;
        border: 1px solid #c0c0c0;
        border-radius: 2px;
        -webkit-box-sizing: border-box;
        -moz-box-sizing: border-box;
        -ms-box-sizing: border-box;
        box-sizing: border-box;
        margin-left: 2%;
        text-align: center;
        height: 50px;
        line-height: 50px;
        color: #c0c0c0;
    }

.lt-ie8 .visibility-demo li {
    margin-right: -1%;
}

.visibility-demo li:first-child {
    margin-left: 0;
}

.visibility-demo span {
    position: absolute;
    top: -1px;
    left: -1px;
    right: -1px;
    bottom: -1px;
    display: block;
    border-radius: 2px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
}

.nav {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 100;
}

.nav-inner {
    padding: .5em 0 0;
    background: #fff;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5), inset 0 -1px 0 rgba(0, 0, 0, 0.07);
    border-bottom: 1px solid #020301;
    text-transform: lowercase;
    line-height: 66px;
}

/* Contain floats: h5bp.com/q */
.main-menu:before, .main-menu:after {
    content: "";
    display: table;
}

.main-menu:after {
    clear: both;
}

.main-menu {
    *zoom: 1;
    *overflow: hidden;
}

.main-menu {
    margin: 0;
    padding: 0;
    list-style: none;
}

    .main-menu > li {
        float: left;
        padding-right: 2em;
    }

        .main-menu > li > a {
            color: #454545;
            text-decoration: none;
        }

            .main-menu > li > a:hover {
                color: #c0c0c0;
            }

.italic {
    font-style: italic;
}

.brand {
    font-size: 1.17em;
    color: #454545;
    text-decoration: none;
    padding-left: 128px;
    height: 42px;
    display: block;
    background: url(img/logo.jpg) transparent no-repeat;
}
    .brand:hover {
        color: #c0c0c0;
    }

.side-nav {
    position: relative;
}

.nav-list {
    list-style: none;
}

    .nav-list a {
        font-family: "Segoe UI Light","Helvetica Neue","RobotoLight","Segoe UI","Segoe WP",sans-serif;
        font-weight: 100;
        text-transform: lowercase;
        font-size: 1.5em;
        margin: 0.83em 0;
    }
